.background-image {
  background-image: url('/background-incubate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.background-story {
  background-image: url('/story.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.background-distributor {
  background-image: url('/distributor.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.background-headphone {
  background-image: url('/incubate-headphone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-careers {
  background-image: url('/careers.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-privacy {
  background-image: url('/privacy.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.background-contact {
  background-image: url('/bench.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.background-warranty {
  background-image: url('/heart.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .background-warranty,
  .background-privacy,
  .background-contact,
  .background-distributor,
  .background-story {
    background-color: black;
    background-image: none;
  }
}

.background-glass {
  background-image: url('/careers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.background-enquiry {
  background-image: url('/enquiry.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.text-color-black-h1 {
  @apply leading-12 text-black font-medium text-5xl;
}

@media (max-width: 1024px) {
  .text-color-black-h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .font-size-14 {
    @apply text-2xl;
  }
}

.text-color-black-h3 {
  @apply text-lg text-black font-normal leading-tight;
}
.text-color-warranty {
  @apply text-2xl text-black font-normal leading-tight;
}
.text-h3 {
  @apply text-lg text-white font-normal leading-normal;
}
.text-heading {
  @apply leading-12 text-white font-medium text-7xl;
}
.text-heading-black {
  @apply leading-12 text-black font-medium text-7xl;
}
@media (max-width: 768px) {
  .text-heading-black {
    @apply leading-12 text-white font-medium text-7xl;
  }
  .text-color-warranty {
    @apply text-2xl text-white font-normal leading-tight;
  }
}
.p-15 {
  padding: 3.75rem;
}
@media (max-width: 768px) {
  .p-15 {
    padding: 1.75rem;
  }
  .text-2xl-semibold {
    @apply font-semibold text-xs;
  }
}
.pt-15 {
  padding-top: 3.75rem;
}
.text-2xl-semibold {
  @apply font-semibold text-2xl;
}

.pt-35 {
  padding-top: 8.75rem;
}
.px-35 {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}
.pt-86 {
  padding-top: 21.5rem;
}
.pt-36 {
  padding-top: 9rem;
}
.px-36 {
  padding-left: 9rem;
  padding-right: 9rem;
}
@media (max-width: 768px) {
  .px-36 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.input-style {
  @apply bg-transparent border-b pb-2 w-full border-grey-border;
}
.img-height {
  height: 870px;
  width: 100%;
}
@media (max-width: 1024px) {
  .img-height {
    height: auto;
    width: 100%;
  }
}
.privacy-heading {
  @apply text-4xl leading-12 text-black;
}
.max-width-1000 {
  max-width: 1000px;
}
.min-height-55 {
  min-height: 54.375rem;
}
.min-height-42 {
  min-height: 41.875rem;
}
.min-height-64 {
  min-height: 64rem;
}
.min-height-53 {
  min-height: 52.5rem;
}
@media (max-width: 768px) {
  .min-height-55,
  .min-height-42,
  .min-height-64 {
    min-height: auto;
  }
}
@media (max-width: 1024px) {
  .min-height-53 {
    min-height: auto;
  }
}
.font-size-14 {
  font-size: 3.5rem;
}

.min-height-80 {
  min-height: 79.375rem;
}
.mt-188 {
  margin-top: 47rem;
}

@media (max-width: 768px) {
  .min-height-80 {
    min-height: auto;
  }
  .mt-188 {
    margin-top: 5rem;
  }
}

.img-clock {
  height: 300px;
  border-radius: 30px;
}
.max-width-49 {
  max-width: 48.75rem;
}
.max-width-25 {
  max-width: 24.25rem;
}
.font-size-3 {
  font-size: 2.5rem;
}
.max-width-33 {
  max-width: 33.125rem;
}
.height-60 {
  height: 60rem;
}
.min-height-39 {
  min-height: 38.75rem;
}
@media (max-width: 768px) {
  .min-height-39 {
    min-height: auto;
  }
}
.min-height-50 {
  min-height: 50rem;
}

.text-form {
  @apply text-black-form;
}
.background-gradient {
  background: linear-gradient(90deg, #e14444 0%, #d2415b 98.44%);
}
.max-width-42 {
  max-width: 41.875rem;
}
.min-height-45 {
  min-height: 45rem;
}
.px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
