.padding-30 {
  padding: 30px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #f2f2f2;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

button {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}

input {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px 0px 0px 30px;
  outline: none;
  width: 100%;
  max-width: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.padding-notify-button {
  padding: 12px 20px 12px 14px;
}

.background-image {
  background-image: url('/earphone-banner.svg');
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-58 {
  padding-top: 58px;
}

.padding-top-29 {
  padding-top: 29px;
}

.padding-top-27 {
  padding-top: 27px;
}

.padding-top-86 {
  padding-top: 86px;
}

.padding-top-66 {
  padding-top: 66px;
}

.padding-top-214 {
  padding-top: 214px;
}

.px-22.5 {
  padding-left: 90px;
  padding-right: 90px;
}
.px-30 {
  padding-left: 120px;
  padding-right: 120px;
}
.pl-30 {
  padding-left: 120px;
}
.pr-30 {
  padding-right: 120px;
}
.padding-sides-10 {
  padding: 0px 10px;
}

.height-17 {
  height: 17px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-13 {
  padding-top: 13px;
}

.margin-left-60 {
  margin-left: 60px;
}

.margin-auto {
  margin: auto;
}

.min-height-560 {
  min-height: 560px;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.max-width-565 {
  max-width: 565px;
}

.max-width-686 {
  max-width: 686px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.pt-23 {
  padding-top: 90px;
}

.header-link {
  @apply not-italic font-normal text-base text-center text-white leading-8;
}
.footer-link {
  @apply not-italic font-normal text-base text-center text-white leading-8;
}
.style-content {
  @apply not-italic font-normal text-sm text-center text-white leading-8;
}
.footer-font {
  @apply leading-6 text-sm text-white;
}
.footer-text-color {
  @apply text-grey-light;
}
.input-color-footer {
  @apply text-grey-light;
}
.background-red-dark {
  @apply bg-maximum-red;
}
.max-width-50 {
  max-width: 50%;
}
.button-transparent {
  @apply leading-tight font-semibold text-lg  rounded-full;
}
.outline-none {
  outline: none;
}
.item-description-color {
  @apply text-grey-light;
}
.background-image-people {
  background-image: url('/people.svg');
}
.max-w-30 {
  max-width: 480px;
}
.max-w-45 {
  max-width: 720px;
}
.max-w-8 {
  max-width: 120px;
}
.max-w-14 {
  max-width: 220px;
}
.max-w-16 {
  max-width: 250px;
}
.bg-greyCard:hover {
  @apply bg-grey-dark;
}
.rounded-large {
  border-radius: 30px;
}
.hover-show {
  display: none;
}
.hover-main:hover .hover-show {
  display: flex;
}
.hover-main:hover .hover-hide {
  display: none;
}
