/*  ONLY THOSE CLASSES WHICH WILL BE USED IN SEVERAL COMPONENTS */

@import '../node_modules/react-alice-carousel/lib/alice-carousel.css';
@import '../node_modules/react-dropdown/style.css';

body {
  overflow-x: hidden;
}

.alice-carousel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 0.8rem;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: none;
}

.Dropdown-arrow {
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 20px;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 20px;
  top: 24px;
  width: 10px;
}

.Dropdown-menu {
  background-color: white;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-option.is-selected {
  background-color: white;
  color: #333;
}

.Dropdown-option:hover {
  background-color: #f9f9f9;
  color: #333;
}

.is-open .Dropdown-arrow {
  border: none;
}

.alice-carousel__stage {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.alice-carousel__stage-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.alice-carousel__stage-item * {
  line-height: initial;
  margin: 0 auto;
}

.alice-carousel__stage-item.__cloned {
  visibility: hidden;
  opacity: 0;
}

.alice-carousel__dots {
  margin: 60px 3px 5px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.alice-carousel__dots-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0.3);
}

.alice-carousel__dots-item:hover,
.alice-carousel__dots-item.__active {
  background-color: #f2f2f2;
}

.padding-30 {
  padding: 30px;
}

.textGrayColor {
  color: #f2f2f2;
}

.grayBackGroundColor {
  background-color: #f9f9f9;
}

button {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
select,
button:focus {
  outline: none;
}

/* input::placeholder {
  @apply text-white;
} */
.input {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px 0px 0px 30px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.h1 {
  @apply leading-12 text-white font-medium text-5xl;
}

.h3 {
  @apply text-lg text-white-light font-normal leading-tight;
}

.text-content {
  @apply text-lg text-white-light font-normal leading-normal;
}

@media (max-width: 768px) {
  .text-content {
    @apply text-sm text-white-light font-normal leading-tight;
  }
}

.text-content-select {
  @apply text-lg text-black-form font-normal leading-normal;
}

.padding-notify-button {
  padding: 12px 20px 12px 14px;
}

.py-100 {
  padding-top: 25rem;
  padding-bottom: 25rem;
}

.p-30 {
  padding: 7.5rem;
}

.background-image {
  background-image: url('/earphone-banner.svg');
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-58 {
  padding-top: 58px;
}

.padding-top-29 {
  padding-top: 29px;
}

.padding-top-27 {
  padding-top: 27px;
}

.padding-top-86 {
  padding-top: 86px;
}

.padding-top-66 {
  padding-top: 66px;
}

.padding-top-214 {
  padding-top: 214px;
}

@media (min-width: 768px) {
  .px-23 {
    padding-left: 5.625rem;
    padding-right: 5.625rem;
  }
}

.px-30 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.pl-30 {
  padding-left: 7.5rem;
}

.pt-30 {
  padding-top: 7.5rem;
}

.pr-30 {
  padding-right: 7.5rem;
}

.padding-sides-10 {
  padding: 0px 10px;
}

.height-17 {
  height: 17px;
}

@media (max-width: 768px) {
  .height-17 {
    height: 14px;
  }
}

.max-width-58 {
  max-width: 58%;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-13 {
  padding-top: 13px;
}

.margin-left-60 {
  margin-left: 60px;
}

.min-height-47 {
  min-height: 46.875rem;
}

.margin-auto {
  margin: auto;
}

.min-height-30 {
  min-height: 30rem;
}

.min-height-31 {
  min-height: 31.25rem;
}
@media (max-width: 768px) {
  .min-height-31,
  .min-height-47 {
    min-height: auto;
  }
}
.min-height-560 {
  min-height: 560px;
}

.min-height-24 {
  min-height: 5.75rem;
}

@media screen and (max-width: 1024px) {
  .min-height-560 {
    min-height: auto;
  }
}

.max-width-23 {
  max-width: 22.5rem;
}

.min-height-35 {
  min-height: 35.3125rem;
}

.min-height-60 {
  min-height: 60rem;
}

.min-height-38 {
  min-height: 37.5rem;
}
@media (max-width: 768px) {
  .min-height-38,
  .min-height-35 {
    min-height: auto;
  }
}
.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.max-width-565 {
  max-width: 565px;
}

.max-width-686 {
  max-width: 686px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.justify-space-between {
  justify-content: space-between;
}

.pt-23 {
  padding-top: 5.625rem;
}

.header-link {
  @apply not-italic font-normal text-base leading-8;
}

.footer-link {
  @apply not-italic font-normal text-base text-center text-white leading-8;
}

.style-content {
  @apply not-italic font-normal text-sm text-center text-white leading-8;
}

.footer-font {
  @apply leading-6 text-sm text-white;
}

@media (max-width: 768px) {
  .footer-font {
    @apply text-xs leading-4;
  }

  .footer-link {
    @apply text-sm;
  }

  button {
    @apply text-sm;
  }
}

.footer-text-color {
  @apply text-grey-light;
}

.input-color-footer {
  @apply text-grey-light;
}

.background-red-dark {
  @apply bg-maximum-red;
}

.max-width-50 {
  max-width: 50%;
}

.max-width-25 {
  max-width: 25%;
}

.button {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}

.button-transparent {
  @apply inline-block leading-tight font-semibold text-lg rounded-full;
}
@media (max-width: 768px) {
  .button-transparent {
    @apply inline-block leading-tight font-medium text-base rounded-full;
  }
}

.outline-none {
  outline: none;
}

.item-description-color {
  @apply text-grey-light;
}

.background-image-people {
  background-image: url('/people.jpg');
}

.max-w-30 {
  max-width: 480px;
}

.max-w-45 {
  max-width: 720px;
}

.max-w-8 {
  max-width: 120px;
}

.max-w-14 {
  max-width: 220px;
}

.max-w-16 {
  max-width: 250px;
}

.bg-greyCard:hover {
  background-color: #262626;
}

.customGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.2fr;
  grid-gap: 8rem;
}

.rounded-large {
  border-radius: 30px;
}

.starIconWhite {
  filter: invert(100%);
  background-color: white;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  height: 1rem;
  width: 17px;
}

.starIconBlack {
  filter: invert(-100%);
  background-color: white;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  height: 1rem;
  width: 17px;
}

.hover-show {
  display: none;
}

@media (max-width: 1024px) {
  .hover-show {
    display: flex;
  }

  .hover-hide {
    display: none;
  }
}

.hover-main:hover .hover-show {
  display: flex;
}

.hover-main:hover .hover-hide {
  display: none;
}

.product-alignment:nth-child(even) {
  @apply flex-row-reverse;
}

.product-alignment:nth-child(odd) {
  @apply flex-row;
}

@media (max-width: 768px) {
  .product-alignment {
    flex-flow: column-reverse !important;
  }
}

.subnav-content {
  position: absolute;
  display: none;
}

.subnav:hover .subnav-content {
  display: block;
}

@media (max-width: 1024px) {
  .subnav-content {
    position: relative;
  }
  .subnav:hover .subnav-content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}

.subnav:hover img {
  transform: rotate(180deg);
}

.filter-invert {
  filter: invert(1);
}
.filter-invert-temp {
  filter: invert(1) !important;
}
@media (max-width: 768px) {
  .filter-invert {
    filter: invert(0);
  }
}

.min-height-60 {
  min-height: 60rem;
}

.background-image-support {
  background-image: url('/telephone.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .background-image-support {
    background-color: black;
    background-image: none;
  }
}

.list-styled {
  list-style: decimal;
}

.max-width-95-percent {
  max-width: 95%;
}

.form-card {
  @apply bg-black rounded-large;
}

.form-card-darker {
  @apply bg-grey-darker rounded-large;
}

.py-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.py-30 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.max-width-38 {
  max-width: 37.5rem;
}

.p-15 {
  padding: 3.75rem;
}

.job-main:hover {
  @apply bg-grey-darker;
}

.job-main:hover .job-button {
  @apply bg-white border-none text-black;
}

.min-height-25 {
  min-height: 25rem;
}

.width-33 {
  width: 33%;
}

.rounded-large-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.min-height-20 {
  height: 285px;
}

.rounded-large-bottom {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.width-30 {
  width: 30px;
}

@media (max-width: 768px) {
  .width-30 {
    width: 17px;
  }
}
.header-position {
  position: absolute;
  top: 64px;
  left: 0;
}
