.image-container {
  height: 42rem;
  background-image: url('/wearables.png');
}
.headphones-container {
  height: 40rem;
  width: 37rem;
  border-radius: 2rem;
  background-color: #0c0c0c;
}
.neckbands-container {
  height: 40rem;
  width: 30.0625rem;
}
.earphones-container {
  height: 40rem;
  width: 30.0625rem;
}
.headsets-container {
  height: 40rem;
  width: 30.0625rem;
}
.padding {
  padding: 7rem 15rem;
}
.image-background {
  background-image: pink;
}
